* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*  BORDES DE TODO */
  /*     outline: 2px solid lime;   */
  /* #### FONDO SATURADO #### */
  /* background: hsl(0, 100%, 50% / .1); */
  /*  background: hsl(0, 100%, calc(50% / 10)); */
  /**/
  /* background: rgba(255, 0, 0, 0.1); // Rojo con 10% de opacidad */
  /* background: hsl(0, 100%, 5%);  // 50% / 10 = 5% */
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

p a {
  display: inline;
}

img, video, iframe, picture, figure {
  display: block;
  max-width: 100%;
}

form, input, select, textarea, button, label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
}

@font-face {
  font-family: "overpass";
  src: url("../fonts/Overpass-VariableFont_wght.ttf");
  font-weight: 300 900;
}
body {
  background-color: #131518;
  margin: 1.5rem;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: overpass;
  font-size: 0.875rem;
}

.wrappers__component {
  background: linear-gradient(180deg, rgb(33, 42, 52) 0%, rgb(33, 42, 52) 20%, rgb(24, 30, 39) 100%);
  padding: 1.5rem;
  border-radius: 1rem;
  width: min(20.438rem, 100%);
}

.wrappers__head {
  display: grid;
  align-items: center;
  gap: 1rem;
}

.head__image {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #262e38;
  border-radius: 50%;
  padding: 0.775rem;
  box-shadow: 0.8px 0.8px 4px 1px rgba(0, 0, 0, 0.5), 0.6px 0.6px 6px rgba(0, 0, 0, 0.3) inset;
}

.head__title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}

.head__subtitle {
  color: #969fad;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.wrappers__access {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
}

.access-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
}

.number__check {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.feedback__number {
  width: 2.625rem;
  height: 2.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969fad;
  padding: 0.5rem 1rem;
  background-color: #262e38;
  border-radius: 50%;
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 1rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3), 0.4px 0.6px 6px rgba(0, 0, 0, 0.3) inset;
}
.feedback__number:hover {
  background-color: #fc7614;
  box-shadow: 0.6px 0.6px 6px 1px rgba(0, 0, 0, 0.5) inset;
  color: #000000;
  cursor: pointer;
}
.feedback__number:focus {
  background-color: #fc7614;
  box-shadow: 0.6px 0.6px 6px 1px rgba(0, 0, 0, 0.5) inset;
  cursor: pointer;
  color: #000000;
}
.feedback__number:active {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.number__check:hover + .feedback__number {
  background-color: #fc7614;
  box-shadow: 0.6px 0.6px 6px 1px rgba(0, 0, 0, 0.5) inset;
  cursor: pointer;
  color: #000000;
}

.number__check:focus + .feedback__number {
  background-color: #fc7614;
  box-shadow: 0.6px 0.6px 6px 1px rgba(0, 0, 0, 0.5) inset;
  cursor: pointer;
  color: #000000;
}

.number__check:checked + .feedback__number {
  background-color: #ffffff;
  box-shadow: 0.8px 0.8px 9px 1px rgba(0, 0, 0, 0.5) inset;
  cursor: pointer;
  color: #000000;
}

.button__submit {
  width: 100%;
  text-transform: uppercase;
  font-size: textMobile-5;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.87px;
  background-color: #fc7614;
  border-radius: 1.75rem;
  padding: 1rem 0;
  margin-top: 1.5rem;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.5), 0.8px 0.8px 10px rgba(0, 0, 0, 0.6) inset;
  outline: none;
}
.button__submit:focus {
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
}
.button__submit:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
}
.button__submit:active {
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
}

.wrappers__selected {
  display: grid;
  background: linear-gradient(180deg, rgb(33, 42, 52) 0%, rgb(33, 42, 52) 20%, rgb(24, 30, 39) 100%);
  padding: 2rem 1.5rem;
  border-radius: 1.25rem;
  width: min(20.438rem, 100%);
  justify-items: center;
  gap: 1.5rem;
}

.selected__rating {
  width: min(12.063rem, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262e38;
  color: #fc7614;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  line-height: 1.2;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

.selected__thank {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.selected__title {
  font-family: overpass;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}

.selected__lead {
  font-family: overpass;
  font-size: 0.875rem;
  font-weight: 400;
  color: #969fad;
  text-align: center;
}

.display__none {
  display: none;
}

@media (min-width: 42.5em) {
  .wrappers__component {
    width: min(25.75rem, 100%);
    padding: 2.156rem 1.906rem;
    border-radius: 1.5rem;
  }
  .head__image {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
  }
  .head__title {
    font-size: 1.75rem;
    margin-top: 1rem;
  }
  .head__subtitle {
    font-size: textMobile-4;
    font-weight: 400;
    line-height: 1.8;
  }
  .wrappers__access {
    gap: 1.5rem;
  }
  .feedback__number {
    width: 3.188rem;
    height: 3.188rem;
    text-align: center;
    font-size: 1rem;
  }
  .wrappers__selected {
    width: min(25.75rem, 100%);
    padding: 2.156rem 1.906rem;
    border-radius: 1.5rem;
    padding: 2.781rem 2.25rem;
    gap: 2rem;
  }
  .selected__image {
    width: 10.125rem;
  }
  .selected__rating {
    width: fit-content;
  }
  .selected__lead,
  .selected__subtitle {
    font-size: 0.938rem;
  }
  .selected__title {
    font-size: 1.75rem;
  }
  .selected__lead {
    font-size: 0.938rem;
    line-height: 1.9;
  }
}
.wrappers__selected,
.wrappers__component {
  transition: opacity 1s ease;
  opacity: 0;
}
.wrappers__selected:where(:not(.display__none)),
.wrappers__component:where(:not(.display__none)) {
  display: allow-discrete grid;
  opacity: 1;
}
@starting-style {
  .wrappers__selected:where(:not(.display__none)),
  .wrappers__component:where(:not(.display__none)) {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
